<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/home.css">
    <title>Avishek</title>
</head>

<body>
    <div class="mainContainer">
        <div class="headerSection section">
            <div class="headerDiv firstHeaderDiv"></div>
            <div class="headerDiv secondHeaderDiv"></div>
            <div class="headerDiv thirdHeaderDiv"></div>
        </div>

        <div class="midSection section">
            <h1>AVISHEK</h1>
            <h2>SENAPATI</h2>
        </div>

        <div class="footerSection section">
            <div class="contacts"> 
                <span>
                    <a href="https://www.google.com"><i class="fa fa-envelope"
                            style="font-size:2rem;color:#F87666;"></i></a>
                </span>
                <span>
                    <a href="https://www.linkedin.com/in/avisheksenapati">
                        <i class="fa fa-linkedin-square" style="font-size:2rem;color:#F87666"></i>
                    </a>
                </span>
                <span>
                    <i class="fa fa-github" style="font-size:2rem;color:#F87666"></i>
                </span>
            </div>

            <div class="technologies">
                <span>
                    <img src="html.png" alt="js" style="height: 2rem;">
                </span>
                <span>
                    <img src="css.png" alt="js" style="height: 2rem;">
                </span>
                <span>
                    <img src="js.png" alt="js" style="height: 2rem;">
                </span>
                <span>
                    <img src="node.png" alt="js" style="height: 2rem;">
                </span>
                <span>
                    <img src="api.png" alt="js" style="height: 2rem;">
                </span>
                <span>
                    <img src="mongo.png" alt="js" style="height: 2rem;">
                </span>
                <span>
                    <img src="c.png" alt="js" style="height: 2rem;">
                </span>
                <span>
                    <img src="cpp.png" alt="js" style="height: 2rem;">
                </span>
            </div>

        </div>
    </div>
</body>

</html>