<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add your product</h1>

    <form action="/farms" method="POST">
        <div>
            <label for="name">Enter product name</label>
            <input type="text" name="name" id="name" placeholder="farm name">
        </div>
        <label for="price">Price</label>
        <input type="number" name="price" id="price">

        <button>Submit</button>
    </form>

    <a href="/products">Home</a>
</body>

</html>