<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picturesque</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="username"><i>Username</i></label>
        <input type="text" id="username" name="username">

        <label for="password"><i>Password</i></label>
        <input type="password" id="password" name="password">

        <button>Login</button>
    </form>

    <form action="/signup">
        <button>SignUp</button>
    </form>
</body>
</html>