body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #e9edc9;
    justify-content: center;
    align-items: center;
  
}

.navContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    
}

.navContainer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 3rem;
    background-color: white;
    border: 1px solid;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
  
.navContainer nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    min-width: 30%;
    padding: 0;
    justify-content: space-evenly;
}

.mainContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    /* height: 100%; */
    border: 1px solid;
    margin-top: 1rem;
    /* border-top-left-radius: 10rem;
    border-top-right-radius: 10px; */
}

.mainContainer .content {

    margin: .5rem;
    width: 18rem;
    height:20rem;
    background-color: red;
}

