h1 {
    text-align: center;
    color: rgb(102, 4, 4);
    font-size: 50px;
    text-decoration: black dashed underline;
}

body {
    background-color: rgb(241, 238, 187);
}

img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

p { 
    
    width: 500px;
    margin-top: 20px;
    border-style: dashed;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    border-top-color: brown;
    border-radius: 10px;
}

#second {
    border: 3px dashed aqua;
}