<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Template</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto repellendus fugiat saepe? Facilis, dolor et temporibus porro dolorum in pariatur cumque delectus numquam ex laudantium suscipit! Alias architecto iure aliquid!
    Magnam, fugiat. Sequi quam fugiat recusandae incidunt. Assumenda aliquid sed aperiam sint, id consequuntur error! Ipsum excepturi tempore rerum, molestias quas aspernatur suscipit exercitationem possimus soluta odit corrupti. Similique, consectetur.
    Deserunt doloribus nobis sequi perferendis, nemo assumenda a illo sapiente maxime animi perspiciatis molestiae maiores est incidunt repudiandae cumque debitis repellendus. Rem incidunt aliquid sequi. Laborum odio quas deleniti eaque.</p>
</body>
</html>