<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>

<body>
    <form action="/upload" method="post">
        <section>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </section>
        <section>
            <label for="url">Image Url</label>
            <input type="text" id="img" name="img">
        </section>
        <button>Submit</button>
    </form>
</body>

</html>